# kong
KONG_PORT_HTTP=80

# identity-access-management (IAM)
IAM_DB_NAME=iam_db
IAM_DB_USER=iam_user
IAM_DB_PASSWORD=iam_password
IAM_SPRING_PROFILES=prod

# restaurant
RESTAURANT_DB_NAME=restaurant_db
RESTAURANT_DB_USER=restaurant_user
RESTAURANT_DB_PASSWORD=restaurant_password
RESTAURANT_SPRING_PROFILES=prod

# order
ORDER_DB_NAME=order_db
ORDER_DB_USER=order_user
ORDER_DB_PASSWORD=order_password
ORDER_SPRING_PROFILES=prod

# payment
PAYMENT_DB_NAME=payment_db
PAYMENT_DB_USER=payment_user
PAYMENT_DB_PASSWORD=payment_password
PAYMENT_SPRING_PROFILES=prod

# rabbitmq
RABBITMQ_USER=restaurant_mq_user
RABBITMQ_PASSWORD=restaurant_mq_password

# genericas
TIME_ZONE=America/Sao_Paulo